/* .App {
  text-align: center;
  margin-top: 50px;
}

h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

h2 {
  font-size: 1.5em;
}

p {
  font-size: 1.2em;
}

.controls {
  margin-top: 20px;
}

input, button {
  font-size: 16px;
  margin: 10px;
}

.keyboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 600px;
  margin: 0 auto;
}

.key {
  font-size: 20px;
  width: 40px;
  height: 40px;
  margin: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.key:hover {
  background-color: #ddd;
}

.key:active {
  background-color: #ccc;
}

button {
  font-size: 16px;
  margin-top: 20px;
  padding: 10px 20px;
} */
 body{
  background: linear-gradient(135deg, #6dd5ed, #2193b0); 
 }
.App {
  text-align: center;
  /* مزيج من اللونين */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  font-size: 2em;
  margin-bottom: 20px;
  color: white;
}

h2 {
  font-size: 1.5em;
  color: white;
}

p {
  font-size: 1.2em;
  color: white;
}

.controls {
  margin-top: 20px;
}

input, button {
  font-size: 16px;
  margin: 10px;
}

.keyboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 600px;
  margin: 0 auto;
}

.key {
  font-size: 20px;
  width: 40px;
  height: 40px;
  margin: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.key:hover {
  background-color: #ddd;
}

.key:active {
  background-color: #ccc;
}

button {
  font-size: 16px;
  margin-top: 20px;
  padding: 10px 20px;
}

.letter-box {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: 5px;
  border: 2px solid #fff;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.8); /* مربع فارغ */
  font-size: 24px;
  line-height: 40px; /* محاذاة الحرف */
  text-align: center;
  color: #2193b0; /* لون الحرف */
}